<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Access Check | Seguridad a tu puerta</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plataforma de registro de visitantes para We Works.">
    <meta name="keywords" content="Registro, visitantes, wework, rápido, fácil">

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Dosis|Kalam|Lobster|Modern+Antiqua|Pacifico|Permanent+Marker|Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css"/> <!--CDR de firebase-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <h2>Registrate ahora</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center-align">
          <h3>¿Tienes cita y pre-registro?</h3>
            <div class="col-sm-12 text-center center-align">
              <a id="pre-registro" class="btn btn-link btn-lg btn-responsive" href="./withoutRegistry.html" role="button">¡Click aqui!</a>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 center-align">
          <h3>Si no tienes pre-registro, ¡no te preocupes, registrate ahora!</h3>
            <div class="col-sm-12 text-center center-align">
              <a id="pre-registro" class="btn btn-link btn-lg btn-responsive" href="./registry.html" role="button">Comenzar registro</a>
            </div>
        </div>
      </div>
    </div>

    <!--Librerias y enlaces a archivos js-->
              <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
              <script src="../js/autentications.js"></script>
              <script src="../js/keepRegistry.js"></script>
  </body>
</html>

