<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Access Check | Seguridad a tu puerta</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Plataforma de registro de visitantes para We Works.">
  <meta name="keywords" content="Registro, visitantes, wework, rápido, fácil">

  <link href="https://fonts.googleapis.com/css?family=Biryani" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
  <!--CDR de firebase-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/keep.css">
</head>

<body>
  <header>
    <div class="row">
      <div class="col m6 offset-3 top-img">
        <img src="https://github.com/YocelinGR/Access-web/blob/master/src/images/Check/Check.png?raw=true" class="img-fluid logo"
          alt="Responsive image" id="img-logo">
      </div>
    </div>
  </header>
  
  <section class="container">
    <div class="row">
      <div class="col s12 center">
        <h3>¿Tienes cita y pre-registro?</h3>
        <div class="col-sm-12 text-center center-align">
          <a id="pre-registro" class="col m6 offset-3 waves-effect waves-light btn btn-link btn-large btn-responsive" href="./withoutRegistry.html" role="button"><span class="boton">¡Click aqui!</span></a>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 center-align">
        <h3 class="top">Si no tienes pre-registro, ¡no te preocupes, registrate ahora!</h3>
        <div class="col-sm-12 text-center center-align">
          <a id="pre-registro" class="col m8 offset-2 waves-effect waves-light btn btn-link btn-large btn-responsive" href="./registry.html" role="button"><span class="boton">Comenzar registro</span></a>
        </div>
      </div>
    </div>
  </section>

  <!--Librerias y enlaces a archivos js-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="../js/autentications.js"></script>
  <script src="../js/keepRegistry.js"></script>
</body>

</html>