<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Access Web | Seguridad a tu puerta</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plataforma de registro de visitantes para We Works.">
    <meta name="keywords" content="Registro, visitantes, wework, rápido, fácil">

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Dosis|Kalam|Lobster|Modern+Antiqua|Pacifico|Permanent+Marker|Playfair+Display" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://stackpath.brootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css"/> <!--CDR de firebase-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center-align">
          <h3>Registrate ahora</h3>
              <form id ="registryForm" class="text-center form-group col s12">
                <p>Ingrese sus datos por favor</p>
                <section class = "text-center form-group">
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Nombre completo</label>
                  </div>
                  <button id="notificar">Enviar Notificacion</button>


              </form>
        </div>
      </div>
    </div>

    <!--Librerias y enlaces a archivos js-->
              <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
              <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
              <script src="../js/authentications.js"></script>
              <script src="../js/registry.js"></script>
              <script src="../js/notificacion.js"></script>
              <script type="text/javascript">
              $(document).ready(function() {
                M.updateTextFields();
              });
              </script>

  </body>
</html>
